*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}
a {
    text-decoration: none; 
}
ul {
    list-style-type: none;
}
.wrapper {
    display: flex;  
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
}
  
.wrapper > * {
    flex: 1 100%;
}
  
.header {
    background: #317F9E;
}
  
.footer {
    background: lightgreen;
}
  
.main {
    text-align: left;
    background: deepskyblue;
}

.nav-list li {
    align-content: center;
    text-align: center;
}

.nav-list {
    display: flex;
    justify-content: space-around;
    align-items: space-between;
}
.aside-1 {
    background: gold;
}



  
  /* @media all and (min-width: 600px) {
    .aside { flex: 1 0 0; }
  }
  
  @media all and (min-width: 800px) {
    .main    { flex: 3 0px; }
    .aside-1 { order: 1; } 
    .main    { order: 2; }
    .aside-2 { order: 3; }
    .footer  { order: 4; }
  } */
  
body {
    padding: 2em; 
}

.met-goal {
    background-color: rgb(16, 237, 16);
}

.not-met {
    background-color: red;
}

.index-h1 {
    font-size: 30px;
}

/* .header {
    background-color:  
}  */

.sidebar-nav {
    margin-top: 20px;
    padding: 20px;
    list-style: none;
}

.header-image {
    width: 100%;
    height: 500px;
}