{% extends "base.html" %}

{% block content %}
    <h1>Habit: {{ habit.name }}</h1>
    <div>
        <p><strong>Username:</strong> {{ habit.user }}</p> 
        <p><strong>Description:</strong> {{ habit.description }}</p>
        <p><strong>Target:</strong> {{ habit.target }}</p>
    </div>

    <hr>
    
    <h3>Daily Records</h3>
    {% for daily_record in habit.dailyrecord_set.all %}
        <div>
            <p><strong>Day Number:</strong> {{ daily_record.day_number }}</p>
            <p><strong>Date:</strong> {{ daily_record.date }}</p>
            <p><strong>Description:</strong> {{ daily_record.description }}</p>
            <p><strong>Progress:</strong> {{ daily_record.progress }}</p>
        </div>
        {% if daily_record.progress > habit.target%}
        <p class= 'met-goal'>You met your daily goal!</p>
        {%else%}
        <p class= 'not-met'>You didn't meet your goal</p>
        {%endif%}
        <hr>

    {% endfor %}

    <h3>Observers</h3>
    {% for observer in habit.observers.all %}
        <div>
            {{ observer.user.username }}
        </div>
    {% endfor %}
{% endblock %}