{% extends "base.html" %}

{% block content %}
    <h1>My Habits</h1>
        <div>
            {% for habit in habits %}
                <div>
                    <h2><a href= '{{habit.get_absolute_url}}'>{{ habit.name }}</a></h2>
                    <p><strong>Description:</strong> {{ habit.description }}</p>
                    <p><strong>Target:</strong> {{ habit.target }}</p>
                </div>
                
                <h3>Observers</h3>
                {% for observer in habit.observers.all %}
                <div>
                    {{ observer.user.username }}
                </div>
                {% endfor %}

                <hr>

            {% endfor %}
        </div>
        <div>
            <h1>Habits I'm Observing</h1>
                {% if request.user.observer %}
                    {% for habit in habits_observed %} 
                    {{ habit.name }}
                    {% endfor %}
                {% endif %}
        </div>
{% endblock %}