<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% block meta %}{% endblock %}
  <title>Habit Tracker - {% block title %}Home{% endblock %}</title>
  {%load static%}
  <link rel="stylesheet" href="{%static 'static.css'%}">
</head>
<body>
    {% block sidebar %}
    <ul class="sidebar-nav">
      <li><a href="{% url 'index' %}">Home</a></li> 
      
      <li><a href="{% url 'habit-list' %}">My Habits</a></li>
    </ul>
       {% if user.is_authenticated %}
         <li>User: {{ user.get_username }}</li>
         <li><a href="/accounts/logout">Logout</a></li>   
       {% else %}
         <li><a href="/accounts/login">Login</a></li>   
       {% endif %} 
      </ul>
 {% endblock %}
 
  {% block content %}

  {% endblock %}
</body>
</html>
